@model List<ProjectEAD.Models.Food>
@{
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<table>
    <tr>
        <td>Edit</td><td>Name</td><td>Type</td><td>Price</td>
    </tr>
    @{foreach(var x in Model)
      {
          <tr>
              <td>
                  <a href="/Admin/Edit/@x.Id">Edit</a></td>
                    <td>@x.Id</td>
                  <td>@x.Name</td>
                    <td>@x.Type</td>
                    <td>@x.Price</td>   
              
          </tr>
      }
        
    }
</table>

