@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>FastEase is A Fast Food Kitchen which provides food to it customers on ordering Via Website and TelePhone Service</p>

<br />
<p>Due to strong interest of people in our Food, We are Planning For A Restaurant</p>
