@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title>Burgers</title>
    <link href="Content\bootstrap.css" rel="stylesheet" />
    <script src="Content\bootstrp.min.css"></script>
</head>
<body>
    <form id="form1" >

        <h1 style="background-color:burlywood;font-style:initial;font-family:'Comic Sans MS';text-align:center">FastEase Menu</h1>
        <h1 style="font-style:initial;font-family:'Freestyle Script';text-align:center;color:aquamarine">FastEase Burgers</h1>
        <div class="row">
            <div class="col-md-6">

                <img src="/Content/Images/rockstar.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Rockstar, Rs. 550   <input type="submit" value="Add To Tray"></p> 
                <img src="/Content/Images/pt.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Muscular Grilled, Rs. 600</p>
                <img src="/Content/Images/chick.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Hero is all Yours in just Rs 550</p>
                <img src="/Content/Images/tf.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Introducing Tropical Fish Burger in just Rs. 550</p>
                <img src="/Content/Images/buffalo.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Buffalo Chicken Rs. 400</p>
                <img src="/Content/Images/beef.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Beef Burger Rs. 350</p>
            </div>
            <div class="col-md-6">

                <img src="/Content/Images/b1.jpg" alt="two for Tuesdat" style="width:540px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Catch a Don for Rs. 500</p>
                <img src="/Content/Images/sd.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Spicy Devil Rs. 550</p>
                <img src="/Content/Images/Superstar.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Superstar in just Rs 550</p>
                <img src="/Content/Images/Fishburg.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Fish Burger Rs 500</p>
                <img src="/Content/Images/g.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Grilled Chicken Rs. 400</p>
                <img src="/Content/Images/chic.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Chicken Burger Rs.350</p>

            </div>

        </div>
    </form>
</body>
</html>
