@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="~Content/thickbox.js"></script>
<link rel="stylesheet" type="text/css" href="~Content/thickbox.css" media="screen" />

<a href="~/Content/fancyImg/p1-l.jpg" title="add a caption to title attribute / or leave blank" class="thickbox" rel="gallery-plants"><img src="~/Content/fancyImg/p1-s.jpg" alt="Plant 1" /></a>
