@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>menu</title>
    <link href="Content\bootstrap.css" rel="stylesheet" />
    <script src="Content\bootstrp.min.css"></script>
 
    
</head>
<body>
    <h1 style="background-color:burlywood;font-style:initial;font-family:'Comic Sans MS';text-align:center">FastEase Menu</h1>
    
    <div class="row">
        <div class="col-md-5">

           <a href="/Home/Burger"> <img id="b" src="/Content/Images/chick.jpg" alt="two for Tuesdat" style="width:350px;height:250px;padding-left:100px "/></a>
            <h3 style="padding-left:150px">Burgers</h3>

        </div>
        <div class="col-md-5">

            <a href="/Home/Pizza"><img id="p" src="/Content/Images/special.jpg" alt="two for Tuesdat" style="width:350px;height:250px;padding-left:100px"  /></a>
            <h3 style="padding-left:150px">Pizzas </h3>

        </div>
    </div>
    <br />
    <div class="row">
      
       
        <a href="/Home/More"> <img id="m" src="/Content/Images/Chicago.jpg" alt="two for Tuesdat" style="width: 350px; height: 250px; padding-left: 110px " /></a>
            <h3 style="padding-left:150px">More</h3>

       
        </div>
        <br />
        <br />
   
</body>


