@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function getItem(id)
    {
        
        document.location="Tray/"+id

    }
</script>
<body>
   

        <h1 style="background-color:burlywood;font-style:initial;font-family:'Comic Sans MS';text-align:center">FastEase Menu</h1>
        <h1 style="font-style:initial;font-family:'Freestyle Script';text-align:center;color:aquamarine">FastEase Pizzas</h1>
        <div class="row">
            <div class="col-md-6">
                <input type="submit" value="Add to Tray" style="margin-left:10px" id="13" onclick="getItem(this.id)" />
                <img src="~~/Content/Images/Hawai.jpg"  alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Hawaian 900-</p><br />
                <input type="submit" value="Add to Tray" style="margin-left:10px" id="15" onclick="getItem(this.id)" />
                <img src="~/Content/Images/pinaco.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Pinaco Tikka 900</p><br />
                <input type="submit" value="Add to Tray" style="margin-left:10px" id="17" onclick="getItem(this.id)" />
                <img src="~/Content/Images/chz.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Cheezy Bites 900</p><br />
                <input type="submit" value="Add to Tray" style="margin-left:10px" id="19" onclick="getItem(this.id)" />
                <img src="~/Content/Images/pep.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Pepporani Pizza 900</p><br />
                <input type="submit" value="Add to Tray" style="margin-left:10px" id="21" onclick="getItem(this.id)" /> 
                <img src="~/Content/Images/ita.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Italian Stuffed Crust 900</p><br />
               
            </div>
            <div class="col-md-6">
                <input type="submit" value="Add to Tray" style="margin-left:80px" id="14" onclick="getItem(this.id)" />
                <img src="~/Content/Images/p1.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:85px" />
                <p style="padding-left:80px">Chicken Fajita: 900</p><br />
                <input type="submit" value="Add to Tray" style="margin-left:80px" id="16" onclick="getItem(this.id)" />
                <img src="~/Content/Images/sousag.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Sausages Lovers 900</p><br />
                <input type="submit" value="Add to Tray" style="margin-left:80px" id="37" onclick="getItem(this.id)" />
                <img src="~/Content/Images/special.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">FastEase Special 900<p><br />
                <input type="submit" value="Add to Tray" style="margin-left:80px" id="20" onclick="getItem(this.id)" />
                <img src="~/Content/Images/nyp.png" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">New York Style 900</p><br />
                <input type="submit" value="Add to Tray" style="margin-left:80px" id="22" onclick="getItem(this.id)" />
                <img src="~/Content/Images/cus.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Customize Your Pizza, The way you want* 900</p><br />
               


            </div>

        </div>
   
</body>




