@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title></title>
    <link href="Content\bootstrap.css" rel="stylesheet" />
    <script src="Content\bootstrp.min.css"></script>
</head>
<body>
    <form id="form1" >

        <h1 style="background-color:burlywood;font-style:initial;font-family:'Comic Sans MS';text-align:center">FastEase Menu</h1>
        <h1 style="font-style:initial;font-family:'Freestyle Script';text-align:center;color:aquamarine">FastEase Pizzas</h1>
        <div class="row">
            <div class="col-md-6">

                <img src="/Content/Images/Hawai.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Hawaian Small: 350 , Medium: 600, Larger: 950, X-Large: 1300</p>
                <img src="/Content/Images/pinaco.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Pinaco Tikka Small: 350 , Medium: 600, Larger: 950, X-Large: 1300</p>
                <img src="/Content/Images/chz.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Cheezy Bites Small: 350 , Medium: 600, Larger: 950, X-Large: 1300</p>
                <img src="/Content/Images/pep.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Pepporani Pizza Small: 350 , Medium: 600, Larger: 950, X-Large: 1300</p>
                <img src="/Content/Images/ita.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:10px" />
                <p style="padding-left:10px">Italian Stuffed Crust Small: 350 , Medium: 600, Larger: 950, X-Large: 1300</p>

            </div>
            <div class="col-md-6">

                <img src="/Content/Images/p1.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:85px" />
                <p style="padding-left:80px">Chicken Fajita Small: 350 , Medium: 600, Larger: 950, X-Large: 1300</p>
                <img src="/Content/Images/sousag.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Sausages Lovers Small: 350 , Medium: 600, Larger: 950, X-Large: 1300</p>
                <img src="/Content/Images/special.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">FastEase Special Small: 350 , Medium: 600, Larger: 950, X-Large: 1300</p>
                <img src="/Content/Images/nyp.png" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">New York Style Small: 350 , Medium: 600, Larger: 950, X-Large: 1300</p>
                <img src="/Content/Images/cus.jpg" alt="two for Tuesdat" style="width:550px;height:400px;padding-left:80px" />
                <p style="padding-left:80px">Customize Your Pizza, The way you want* Medium 700, Large 1100</p>


            </div>

        </div>
    </form>
</body>
</html>



